.engine.piston {
    animation: pump 400ms linear infinite alternate;
}

.engine.piston.right {
    animation-delay: 400ms;
}

@keyframes pump {
    100% {
        -webkit-transform:translateY(140px);
    }
}